<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_admin %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'Back', users_path %>
<% elsif @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
